#infoForm{
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#waitlist{
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid;
    background-color: #a23451;
    width: 200px;
}

#Me{
    display: flex;
    justify-content: center;
    background-color: ivory;
    margin-top: 5px;
    margin-bottom: 5px;
}

#others{
    display: flex;
    justify-content: center;
    background-color: ivory;
    margin-top: 5px;
    margin-bottom: 5px;
}

header{
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #b22222;
}

#inputSection{
    margin-top: 10px;
    margin-bottom: 10px;
}

h1{
    font-size: 50px;
    margin: 0;
    padding: 0;
}